name: Build

on:
  push:
    branches:
      - main  # Change this to your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:latest
        options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs, repo'
          scan-ref: '.'
          trivy-config: trivy.yaml

      - name: Build
        run: |
          docker-compose up -d
          # You might need to add more commands like testing, etc.
